html{
    background:black;
}
body{
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    /* font-family: 'Amatic SC', serif; */
    /* letter-spacing: 2px; */
    padding: 0%;
    background: white;
    border:2px solid white;
    text-shadow: 4px 4px 4px gray;
}
a{
    text-decoration: none;
    text-shadow: none;
    color:black;
}
a:hover{
    text-shadow: 4px 4px 4px gray;
}
a,button{
    cursor: pointer;
}
footer{
    background:black;
    color:white;
    width: 100%;
    text-align: center;
}
    

