#expense-type-div{
    background: white;
    display:flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    /* display: grid;
    grid-template-rows:1fr 1fr 3fr ; 
    text-align: center;*/
    width: 40%;
    height: 300px;
    padding:2%;
    /* overflow: hidden; */
}
.inputs{
    z-index: 888;
    position: absolute;
    top:25%;
    border:2px solid black;
}

#expense-type-div>button{
    margin-left: 95%;
    width: 40px;
    height:40px;
}
#button-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 3fr; */
    gap: 5px;
    /* background: black; */
    width: 100%;
    height: 100%;
}
#input-div{
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;

    background: white;
    
    width: 40%;
    /* height:200px; */

    /* border: 2px solid black; */
    padding:3%;
    /* height: 300px; */
}
#input-div button{
    width: 60px;
    height:30px;
    justify-self: center;
    margin-top:20%;
}
.see{
    visibility: visible;
}
.no-see{
    visibility: hidden;
    /* try collapse */
}